body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 70px;
}

.game-container {
  display: block;
  margin: auto;
}

.ball {
  display: block;
  width: 85%;
  height: 85%;
  background-color: black;
  border-radius: 50%;
}

.player-ball {
  background: radial-gradient(circle at 30% 35%, #fff, #888, #000);
}
.red-ball {
  background: radial-gradient(circle at 30% 35%, #fee, #d00, #000);
}
.black-ball {
  background: radial-gradient(circle at 30% 35%, #fff, #222,  #000);
}
.game-board {
  display: grid;
  margin: auto;
  border: 5px solid black;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: #888;
}

.board-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}
