.ball {
  display: block;
  width: 85%;
  height: 85%;
  background-color: black;
  border-radius: 50%;
}

.player-ball {
  background: radial-gradient(circle at 30% 35%, #fff, #888, #000);
}
.red-ball {
  background: radial-gradient(circle at 30% 35%, #fee, #d00, #000);
}
.black-ball {
  background: radial-gradient(circle at 30% 35%, #fff, #222,  #000);
}
.game-board {
  display: grid;
  border: 5px solid black;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  width: 600px;
  height: 600px;
  background-color: #888;
}

.board-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}
